## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
url = 'https://raw.githubusercontent.com/ItsGreyedOut/Deep-Learning-Charity-Funding-Predictor/main/Resources/charity_data.csv'

application_df = pd.read_csv(url)
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN'
application_df = application_df.drop(columns=['EIN'])
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Determine the number of unique values in each column.
application_df.nunique(axis=0)

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [7]:
# Look at NAME value counts for binning
counts=application_df['NAME'].value_counts()
counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
NAME_to_replace = list(counts[counts<5].index)
NAME_to_replace

# Replace in dataframe
for app in NAME_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [9]:
# Look at APPLICATION TYPE  value counts for binning
count_binning = application_df['APPLICATION_TYPE'].value_counts()
count_binning

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [11]:
application_types_to_replace = list(count_binning[count_binning<500].index)
application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [14]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (count_binning[count_binning<100].index)
classifications_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")
    
# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

# Look at CLASSIFICATION value counts for binning
countsbinning = application_df['CLASSIFICATION'].value_counts()

In [19]:
countsclassification = countsbinning[countsbinning>1]
countsclassification

classifications_to_replace = list (countsbinning[countsbinning<100].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [20]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
y

# drop 'IS SUCCESSFUL'
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
X


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [21]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [22]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 3171

 dense_1 (Dense)             (None, 14)                112

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 3,298
Trainable params: 3,298
Non-trainable params: 0
_________________________________________________________________

In [23]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [24]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 3s 3ms/step - loss: 0.5452 - accuracy: 0.7437 - val_loss: 0.4496 - val_accuracy: 0.7906
Epoch 2/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4459 - accuracy: 0.7873 - val_loss: 0.4324 - val_accuracy: 0.7968
Epoch 3/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4357 - accuracy: 0.7891 - val_loss: 0.4327 - val_accuracy: 0.7958
Epoch 4/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4302 - accuracy: 0.7921 - val_loss: 0.4298 - val_accuracy: 0.7976
Epoch 5/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4270 - accuracy: 0.7938 - val_loss: 0.4294 - val_accuracy: 0.8002
Epoch 6/100
684/684 [==============================] - 4s 6ms/step - loss: 0.4250 - accuracy: 0.7945 - val_loss: 0.4261 - val_accuracy: 0.8054
Epoch 7/100
684/684 [==============================] - 4s 5ms/step - loss: 0.4235 - accuracy: 0.7962 - val_loss: 0.4308 - val_accuracy: 0.8015
Epoch 8/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4224 - accuracy: 0.7969 - val_loss: 0.4276 - val_accuracy: 0.8007
Epoch 9/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4218 - accuracy: 0.7964 - val_loss: 0.4272 - val_accuracy: 0.8056
Epoch 10/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4211 - accuracy: 0.7967 - val_loss: 0.4283 - val_accuracy: 0.8041
Epoch 11/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4203 - accuracy: 0.7981 - val_loss: 0.4300 - val_accuracy: 0.8064
Epoch 12/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4202 - accuracy: 0.7970 - val_loss: 0.4297 - val_accuracy: 0.8059
Epoch 13/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4198 - accuracy: 0.7982 - val_loss: 0.4333 - val_accuracy: 0.8020
Epoch 14/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4195 - accuracy: 0.7984 - val_loss: 0.4332 - val_accuracy: 0.8031
Epoch 15/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4192 - accuracy: 0.7993 - val_loss: 0.4318 - val_accuracy: 0.8049
Epoch 16/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4185 - accuracy: 0.7989 - val_loss: 0.4336 - val_accuracy: 0.8046
Epoch 17/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4182 - accuracy: 0.7994 - val_loss: 0.4331 - val_accuracy: 0.8010
Epoch 18/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4179 - accuracy: 0.7994 - val_loss: 0.4322 - val_accuracy: 0.8020
Epoch 19/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4178 - accuracy: 0.7995 - val_loss: 0.4317 - val_accuracy: 0.8046
Epoch 20/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4173 - accuracy: 0.7997 - val_loss: 0.4326 - val_accuracy: 0.8038
Epoch 21/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4167 - accuracy: 0.8000 - val_loss: 0.4324 - val_accuracy: 0.8064
Epoch 22/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4167 - accuracy: 0.8002 - val_loss: 0.4312 - val_accuracy: 0.8062
Epoch 23/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4161 - accuracy: 0.8008 - val_loss: 0.4321 - val_accuracy: 0.8054
Epoch 24/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4162 - accuracy: 0.8009 - val_loss: 0.4335 - val_accuracy: 0.8028
Epoch 25/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4156 - accuracy: 0.8012 - val_loss: 0.4353 - val_accuracy: 0.8054
Epoch 26/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4157 - accuracy: 0.8011 - val_loss: 0.4360 - val_accuracy: 0.8049
Epoch 27/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4155 - accuracy: 0.8016 - val_loss: 0.4346 - val_accuracy: 0.8018
Epoch 28/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4150 - accuracy: 0.8018 - val_loss: 0.4348 - val_accuracy: 0.8010
Epoch 29/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4152 - accuracy: 0.8018 - val_loss: 0.4357 - val_accuracy: 0.8033
Epoch 30/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4149 - accuracy: 0.8016 - val_loss: 0.4358 - val_accuracy: 0.8020
Epoch 31/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4145 - accuracy: 0.8028 - val_loss: 0.4360 - val_accuracy: 0.8002
Epoch 32/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4148 - accuracy: 0.8013 - val_loss: 0.4350 - val_accuracy: 0.8015
Epoch 33/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4139 - accuracy: 0.8018 - val_loss: 0.4356 - val_accuracy: 0.8036
Epoch 34/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4141 - accuracy: 0.8016 - val_loss: 0.4356 - val_accuracy: 0.8023
Epoch 35/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4138 - accuracy: 0.8025 - val_loss: 0.4340 - val_accuracy: 0.8033
Epoch 36/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4141 - accuracy: 0.8025 - val_loss: 0.4349 - val_accuracy: 0.8007
Epoch 37/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4138 - accuracy: 0.8021 - val_loss: 0.4359 - val_accuracy: 0.8038
Epoch 38/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4135 - accuracy: 0.8024 - val_loss: 0.4350 - val_accuracy: 0.8018
Epoch 39/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4135 - accuracy: 0.8026 - val_loss: 0.4373 - val_accuracy: 0.8054
Epoch 40/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4129 - accuracy: 0.8038 - val_loss: 0.4364 - val_accuracy: 0.8005
Epoch 41/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4131 - accuracy: 0.8031 - val_loss: 0.4364 - val_accuracy: 0.8044
Epoch 42/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4128 - accuracy: 0.8031 - val_loss: 0.4363 - val_accuracy: 0.8051
Epoch 43/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4129 - accuracy: 0.8036 - val_loss: 0.4365 - val_accuracy: 0.7999
Epoch 44/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4129 - accuracy: 0.8024 - val_loss: 0.4379 - val_accuracy: 0.8010
Epoch 45/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4128 - accuracy: 0.8011 - val_loss: 0.4365 - val_accuracy: 0.8025
Epoch 46/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4127 - accuracy: 0.8031 - val_loss: 0.4368 - val_accuracy: 0.8028
Epoch 47/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4121 - accuracy: 0.8032 - val_loss: 0.4369 - val_accuracy: 0.8028
Epoch 48/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4122 - accuracy: 0.8030 - val_loss: 0.4393 - val_accuracy: 0.8025
Epoch 49/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4117 - accuracy: 0.8037 - val_loss: 0.4379 - val_accuracy: 0.8007
Epoch 50/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4118 - accuracy: 0.8037 - val_loss: 0.4387 - val_accuracy: 0.8010
Epoch 51/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4118 - accuracy: 0.8036 - val_loss: 0.4380 - val_accuracy: 0.8020
Epoch 52/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4117 - accuracy: 0.8029 - val_loss: 0.4370 - val_accuracy: 0.8044
Epoch 53/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4115 - accuracy: 0.8029 - val_loss: 0.4376 - val_accuracy: 0.8010
Epoch 54/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4116 - accuracy: 0.8039 - val_loss: 0.4380 - val_accuracy: 0.8015
Epoch 55/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4113 - accuracy: 0.8036 - val_loss: 0.4370 - val_accuracy: 0.8038
Epoch 56/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4114 - accuracy: 0.8037 - val_loss: 0.4383 - val_accuracy: 0.8020
Epoch 57/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4113 - accuracy: 0.8029 - val_loss: 0.4371 - val_accuracy: 0.8044
Epoch 58/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4111 - accuracy: 0.8043 - val_loss: 0.4380 - val_accuracy: 0.8012
Epoch 59/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4108 - accuracy: 0.8044 - val_loss: 0.4394 - val_accuracy: 0.8028
Epoch 60/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4111 - accuracy: 0.8035 - val_loss: 0.4378 - val_accuracy: 0.8020
Epoch 61/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4110 - accuracy: 0.8040 - val_loss: 0.4385 - val_accuracy: 0.8041
Epoch 62/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4106 - accuracy: 0.8041 - val_loss: 0.4401 - val_accuracy: 0.8020
Epoch 63/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4108 - accuracy: 0.8034 - val_loss: 0.4387 - val_accuracy: 0.8036
Epoch 64/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4107 - accuracy: 0.8038 - val_loss: 0.4400 - val_accuracy: 0.8015
Epoch 65/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4107 - accuracy: 0.8042 - val_loss: 0.4392 - val_accuracy: 0.8033
Epoch 66/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4107 - accuracy: 0.8043 - val_loss: 0.4383 - val_accuracy: 0.8038
Epoch 67/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4101 - accuracy: 0.8043 - val_loss: 0.4429 - val_accuracy: 0.7997
Epoch 68/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4108 - accuracy: 0.8037 - val_loss: 0.4388 - val_accuracy: 0.8020
Epoch 69/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4103 - accuracy: 0.8042 - val_loss: 0.4378 - val_accuracy: 0.8038
Epoch 70/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4102 - accuracy: 0.8039 - val_loss: 0.4394 - val_accuracy: 0.8044
Epoch 71/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4102 - accuracy: 0.8044 - val_loss: 0.4398 - val_accuracy: 0.8020
Epoch 72/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4102 - accuracy: 0.8041 - val_loss: 0.4396 - val_accuracy: 0.8041
Epoch 73/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4103 - accuracy: 0.8030 - val_loss: 0.4381 - val_accuracy: 0.8033
Epoch 74/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4101 - accuracy: 0.8044 - val_loss: 0.4401 - val_accuracy: 0.8038
Epoch 75/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4103 - accuracy: 0.8028 - val_loss: 0.4394 - val_accuracy: 0.8015
Epoch 76/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4100 - accuracy: 0.8047 - val_loss: 0.4403 - val_accuracy: 0.8018
Epoch 77/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4100 - accuracy: 0.8047 - val_loss: 0.4408 - val_accuracy: 0.8062
Epoch 78/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4096 - accuracy: 0.8053 - val_loss: 0.4406 - val_accuracy: 0.8056
Epoch 79/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4099 - accuracy: 0.8051 - val_loss: 0.4407 - val_accuracy: 0.8044
Epoch 80/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4099 - accuracy: 0.8042 - val_loss: 0.4392 - val_accuracy: 0.8023
Epoch 81/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4092 - accuracy: 0.8050 - val_loss: 0.4423 - val_accuracy: 0.8049
Epoch 82/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4097 - accuracy: 0.8049 - val_loss: 0.4402 - val_accuracy: 0.8051
Epoch 83/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4094 - accuracy: 0.8052 - val_loss: 0.4410 - val_accuracy: 0.8025
Epoch 84/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4096 - accuracy: 0.8048 - val_loss: 0.4410 - val_accuracy: 0.8015
Epoch 85/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4094 - accuracy: 0.8046 - val_loss: 0.4412 - val_accuracy: 0.8031
Epoch 86/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4091 - accuracy: 0.8046 - val_loss: 0.4421 - val_accuracy: 0.8033
Epoch 87/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4095 - accuracy: 0.8058 - val_loss: 0.4407 - val_accuracy: 0.8031
Epoch 88/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4090 - accuracy: 0.8059 - val_loss: 0.4411 - val_accuracy: 0.8046
Epoch 89/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4094 - accuracy: 0.8034 - val_loss: 0.4419 - val_accuracy: 0.8046
Epoch 90/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4090 - accuracy: 0.8058 - val_loss: 0.4412 - val_accuracy: 0.8028
Epoch 91/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4089 - accuracy: 0.8046 - val_loss: 0.4410 - val_accuracy: 0.8049
Epoch 92/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4091 - accuracy: 0.8055 - val_loss: 0.4405 - val_accuracy: 0.8062
Epoch 93/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4087 - accuracy: 0.8049 - val_loss: 0.4416 - val_accuracy: 0.8031
Epoch 94/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4094 - accuracy: 0.8048 - val_loss: 0.4403 - val_accuracy: 0.8046
Epoch 95/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4091 - accuracy: 0.8045 - val_loss: 0.4403 - val_accuracy: 0.8033
Epoch 96/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4090 - accuracy: 0.8047 - val_loss: 0.4416 - val_accuracy: 0.8025
Epoch 97/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4090 - accuracy: 0.8052 - val_loss: 0.4402 - val_accuracy: 0.8038
Epoch 98/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4085 - accuracy: 0.8054 - val_loss: 0.4407 - val_accuracy: 0.8054
Epoch 99/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4089 - accuracy: 0.8056 - val_loss: 0.4417 - val_accuracy: 0.8051
Epoch 100/100
684/684 [==============================] - 1s 2ms/step - loss: 0.4087 - accuracy: 0.8051 - val_loss: 0.4407 - val_accuracy: 0.8044

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5552 - accuracy: 0.7287 - 224ms/epoch - 837us/step
Loss: 0.5551724433898926, Accuracy: 0.7287463545799255

In [ ]:
# Export our model to HDF5 file
from google.colab import files

nn.save('/content/AlphabetSoupCharity_Optimization.h5')
files.download('/content/AlphabetSoupCharity_Optimization.h5')